{% extends 'napp/home.html' %}

{% load static %}

{% block body_block %}

<body>

<br>
<center>

<br>
<br>

<a href="/empform"><button>Add Employee</button></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/empdata"><button>View Employee Data</button></a>

<br>
<br>

<a href="/addnews"><button>Add Latest News</button></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><button>Add Calender</button></a>

</center>

</body>

{% endblock %}